/* You can add global styles to this file, and also import other style files */
*{
  &::-webkit-scrollbar {
    display: none;
  }
}

.login{
  max-width: 600px;
  margin: auto;
}

.color-pink{
  background-color: #b9206b !important;
  color: white !important;
}

.pink-subtle{
  background-color: #f8e9f1;
  color: #b9206b;
}
