<div class="card mt-3">
  <div class="card-header" style="background: rgb(185 32 107 / 0.1)">
    <h5>Cart </h5>
  </div>
  @if (activeUser()!.data.length > 0) {
    <div class="card-body">
      @for (order of activeUser()?.data; track $index){
        @if (order.items.status == "active" && order.items.cartItems.length == 0) {
          <p class="mt-5 mb-5  text-center">Cart is currently empty! You can add toys on the starting page.</p>

        }
      }

      @for (order of activeUser()?.data; track $index){
        @if (order.items.status == "active" && order.items.cartItems.length > 0){
          <table class="table table-hover " style="border-color: rgb(185 32 107 / 0.2)">
            <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              @for (order of activeUser()?.data; track $index){
                @if (order.items.status == "active") {
                  @for (item of order.items.cartItems; track $index) {
                    <tr>
                      <th scope="row">{{item.item.name}}</th>
                      <td>{{item.quantity}}</td>
                      <td>{{item.quantity * item.item.price | number:'1.2-2'}}</td>
                      <td class="text-end">
                        <button  class="btn btn-light" (click)="decrement(item.item.toyId)"><i class="fa-solid fa-minus" style="color: #b9206b;"></i></button>
                        <button  class="btn btn-light mx-3" (click)="increment(item.item.toyId)"><i class="fa-solid fa-plus" style="color: #b9206b;"></i></button>
                        <button  class="btn btn-light" (click)="remove(item.item.toyId)"><i class="fa-solid fa-trash-can" style="color: #b9206b;"></i></button>
                      </td>
                    </tr>
                  }
                }
              }
            </tbody>
          </table>
        }
      }
    </div>

  }
  <div class="card-footer d-flex justify-content-between" style="background: rgb(185 32 107 / 0.1)">
    <h4 class="">Total price: {{ getTotalPrice() | number:'1.2-2' }} RSD</h4>
    <button type="submit" class="btn btn-success" (click)="checkOut()">
      <i class="fa-solid fa-cart-shopping" style="color: rgb(255, 255, 255);"></i> Check out
    </button>
  </div>
</div>
